// Descriptive
$black: #000;
$white: #FFF;
$astronaut-blue: #034166;
$horizon: #578099;

// Functional
$color-primary: $astronaut-blue;
$color-secondary: $horizon;
$color-background: $black;
$color-text: $white;