footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 60px;
	width: 100%;
	background: $black;
}

ul {
	padding-top: 8px;
	height: 100%;
}

ul li {
	display: inline-block;
	flex-grow: 1;
	height: 100%;
	text-align: center;
	font-size: 1.4rem;
}

ul li a {
	color: $gray;
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
	&:hover {
		color: $white;
	}
}

ul li a.active {
	color: $color-secondary;
}

.fa {
	display: block;
}